---
import heroImage from '../../assets/illustration-1.svg';
import { Image } from 'astro:assets';

import FormHero from './FormHero.astro';
---

<section>
    <div class="container">
        <div class="wrap-content">
            <Image src={heroImage} alt="people working in a file" />
            <div class="wrap-text">
                <h1>
                    All your files in one secure location, accessible anywhere.
                </h1>
                <p>
                    Fylo stores your most important files in one secure
                    location. Access them wherever you need, share and
                    collaborate with friends, family, and co-workers.
                </p>
                <FormHero />
            </div>
        </div>
    </div>
</section>

<style>
    section {
        padding-block: 5rem;
        text-align: center;
    }

    .wrap-content {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    img {
        height: 100%;
    }

    .wrap-text {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        color: var(--very-dark-blue);
        max-width: 500px;
        margin-inline: auto;
    }

    h1 {
        font-size: clamp(1rem, 2.8vw, 2.4rem);
    }

    @media (min-width: 800px) {
        .wrap-content {
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
        }

        .wrap-content > * {
            width: 50%;
        }

        .wrap-text {
            text-align: start;
            margin: 0;
            max-width: 600px;
        }
    }
</style>
