<nav>
    <ul>
        <li><a href="#">Features</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">Sign In</a></li>
    </ul>
</nav>

<style>
    ul {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    a {
        color: var(--very-dark-blue);
        transition: color 200ms ease-in-out;
    }

    a:hover {
        color: var(--bright-blue);
    }
</style>
