@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

:root {
  --very-dark-blue: #080538;
  --desaturated-blue: hsl(238, 22%, 44%);

  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);
  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);

  --ff: 'Open Sans', sans-serif;
  --ff-2: 'Raleway', sans-serif;

}


body {
  font-family:  var(--ff);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

.container {
  width: min(90%, 1200px);
  margin-inline: auto;
}

h1,h2,h3,h4 {
  line-height: 1.4;
}

input, select, textarea, button{font-family:inherit;}

a {
  text-decoration: none;
}

li { 
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-auto{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
       

.hamburger[aria-expanded="true"] + #navbar {
  transform: translateX(0);
}




