---
import Hero from './hero/Hero.astro';
import SectionOne from '../components/section-1/SectionOne.astro';
import SectionTwo from '../components/section-2/SectionTwo.astro';
---

<main>
    <Hero />
    <SectionOne />
    <SectionTwo />
</main>
