---
import FormSectionTwo from './FormSectionTwo.astro';
---

<section>
    <div class="container">
        <div class="wrap-content">
            <div class="wrap-text">
                <h2>Get early access today</h2>
                <p>
                    It only takes a minute to sign up and our free starter tier
                    is extremely generous. If you have any questions, our
                    support team would be happy to help you.
                </p>
            </div>

            <FormSectionTwo />
        </div>
    </div>
</section>

<style>
    section {
        background-color: var(--desaturated-blue);
        color: var(--light-grayish-blue);
        padding-block: 4rem;
        text-align: center;
    }

    p {
        margin-block: 1.3rem;
    }

    @media (min-width: 800px) {
        .wrap-content {
            display: grid;
            align-items: start;
            grid-template-columns: repeat(2, 1fr);
            justify-content: space-between;
        }

        .wrap-text {
            text-align: start;
            max-width: 500px;
        }
    }
</style>
